.tilt {
  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 120px;
        opacity: .5;
}

.tilt:hover {
  -webkit-transform: rotate(15deg);
   -moz-transform: rotate(15deg);
     -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        opacity: 1;
}

.bios {
  display: flex;
}

.profile {
  width: 500px;
  height: 300px;
}
