* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
li {
  list-style: none;
}
img {
  width: 40%;
  height: auto;
}
button {
  border-radius: 5px;
  padding: 5px;
}
header {
  width: 100%;
  position: fixed;
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #fff2f2;
}
.container_title {
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.logo {
  height: 75px;
  width: 75px;
}
.nav_line {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav_line > li {
  padding: 10px 5% 10px 5%;
}
.main {
  heigh: calc(100% - 100px);
  min-height: calc(100% - 100px);
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  background-color: black;
}
.aside_left {
  min-width: 350px;
  width: 20%;
  min-height: calc(100% - 100px - 170px);
  position: fixed;
  background-color: #c91717;
  border-radius: 20px;
  margin-top: 17.5px;
}
#form_search {
  margin-top: 20px;
}
fieldset {
  border: none;
  text-align: center;
}
#price_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#price_box > label {
  padding-top: 10px;
}
#price_box > input {
  align-self: center;
}

.searchList {
  margin: 10px;
}
.searchList > li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.center {
  min-height: calc(100% - 100px - 170px);
  flex: 3 1 80%;
  order: 2;
  margin: 4px;
  padding: 5px;
  margin-left: 370px;
}

.card {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card_show {
  margin: 10px 10px 0px 10px;
  border-radius: 25px;
  background-color: lightgrey;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card_show_box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card_show_aside {
  flex: 2 1 30;
  margin: 5px;
}
.card_show_ul {
}
.card_show_ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card_show_aside > button {
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}
.card_show_lil_box {
  margin: 5px;
}
.card_show_lil_box > p {
  padding: 5px;
  border: 1px solid black;
}

.card_venue {
  width: 60%;
  margin: 0px 10px 10px 10px;
  border-radius: 25px;
  background-color: lightgrey;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
.card_venue_box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card_venue_lil_box > p {
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
.card_venue_aside {
  padding: 10px;
  flex: 2 1 30%;
}
.card_venue_ul {
}
.card_venue_ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card_show_box > img {
  align-self: center;
}
footer {
  height: 100px;
  background-color: tan;
}

.current {
  /*background-color: blue;*/
}
a.link, a:visited {
  color: green;
}
a.current:link, a.current:visited {
  color: yellow;
}
